
.card-img-top {
  height: 300px;
  object-fit: cover;
}

.card {
  height: 100%; /* makes card stretch inside column */
  display: flex;
  flex-direction: column;
  border: #ffffff;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* .btn {
    background-color: #E65100;
    color: #ffffff;
}
.btn:hover {
  color: #ffffff;
} */
body {
  overflow-x: hidden;  
  overflow-y: auto; 
}

.card-body.h5 , .card.p {
  text-decoration: none;
}